

body{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        background-color:#040018 !important;}
       
       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1); 
       }
       .search input{
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
       }
       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }
       .row {
        padding-top:20px;
       }
       img{
        height: 20%;
        width: 20%;
        padding: 20px 20px 20px 20px;
          }
          #nav1{
            position: relative;
          }
          .footer {
            position: fixed;
            margin-top: auto;
            position: relative;
            bottom: 0;
            width: 100%;
            height: 60px;
            float: bottom;
          }
          /***********************************************************/
         